extends layout

block content
    .container
        h1 Product Page

        form(role='form', action="/product", method="post", style='max-width: 300px;')
            .form-group
                i.red email
                input.form-control(type='text', name="email", placeholder='email')
            .form-group
                i.red surname
                input.form-control(type='text', name="displayName", placeholder='displayName')
            button.btn.btn-success(type='submit') Submit