extends layout

block content
  .container
    .jumbotron.add__size
      h1 CRUD example app
      p This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.
      p NODE JS + Express.js + Mongoose.js
      p
        a(class="btn btn-lg btn-primary" href="" role="button") View navbar docs &raquo;

      br

      h3 JQuery Usage example

      p Time now!

      h3#time


