
block search

    form(id="search" role='form', action="/products", method="get", style='max-width: 300px; width: 100%;')
        div(class="col-lg-9")
            div(class="input-group")
                input(type="text" class="form-control" name="email" placeholder="Search for...")
        button.btn.btn-default(type='submit') Search